// fonts
$outfit: "Outfit", sans-serif;

// colors
$primary-1: hsl(215, 51%, 70%);
$primary-2: hsl(178, 100%, 50%);
$neutral_1: hsl(217, 54%, 11%); // (main BG)
$neutral_2: hsl(216, 50%, 16%); // (card BG)
$neutral_3: hsl(215, 32%, 27%); // (line)
$neutral_white: hsl(0, 0%, 100%);
